<!--管理者限定ページ-->

<h4><class="font-weight-normal">ブランド一覧・追加</h4>

<%= form_with model: @genre , url: admin_genres_path  do |f| %>

 <div class="field">
    <%= f.label :name,"ブランド名" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
 </div>


   <%= f.submit "新規登録" %>


<% end %>

<table class="table table-hover ">
      <thead>
       <tr>
        <th></th>
        <th>ブランド名</th>
        <th colspan="2"></th>
       </tr>
      </thead>

      <tbody>



      </tbody>
    </table>