<!--（本社）管理スタッフ用ログインページ-->
<h1>LINEショップ</h1>


        <th>ショップ</th>
        　 <th>販売登録キー</th><th>実行</th>

        <th>問合せ</th>
        　 <th>顧客新規登録</th><th>実行</th>
          <th>顧客一覧</th><th>実行</th>
          



        <th>商品管理</th>
          <th>商品新規登録</th><th>実行</th>
          <th>商品詳細</th><th>実行</th>
          <th>商品編集</th><th>実行</th>


        <th>販売管理</th>
          <th>ブランド一覧・追加</th><th>実行</th>
          <th>ブランド編集</th><th>実行</th>




        <!--<th colspan="3"></th>-->
       </tr>
      </thead>

      <tbody></tbody>
    </table>

 </div>
</div>

<%= button_to 'sign_out', admin_destroy_sessions_path, method: :delete %>


